

.top-destination {
  
  margin: 0 auto;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}



.top-destination a,
 .top-destination button {
  color: #4fc08d;
}
@media screen and (max-width: 600px) {
 
}

.top-destination .item {
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;
}
.top-destination .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
.top-destination .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 28px 25px;
  color: #fff;
  background: #020024;
  background: linear-gradient(0deg, #020024 0%, #000032a1 3%, #17d9ff00 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.top-destination .item .overlay span {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 60px;
  padding: 10px 20px;
  display: inline-block;
}
.top-destination .item .overlay > div h2 {
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    text-align: center;
    background: #f2bd07;
    color: #fff;
    border-radius: 20px;
    padding: 6px 31px;
}

.owl-nav {
    position: relative;
    text-align: center;
    /* bottom: 0; */
    margin: 20px;
    /* right: 0; */
    /* align-items: center; */
}
@media screen and (max-width: 600px) {
  .owl-nav {
    top: -60px !important;
  }
}
.owl-nav button {
  background: #fc7803 !important;
  width: 45px;
  height: 45px;
  font-size: 25px !important;
  box-shadow: 0px 0px 17px #00000005;
  border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    border: none;
    padding: 0 15px 9px !important;
    color: #fff;
    /* margin-top: -20px; */
    font-size: 39px !important;
}
.owl-nav button:nth-of-type(1) {
  margin-right: 13px;
}

/* ==================================================
product Section 
================================================== */
#productdetails{ position: relative; margin:60px 0 60px;     }
.detailsbg{background: #fff;
    padding: 10px 30px 40px;
   }
#productdetails h2 {
	font-size: 25px;
	font-weight: 600;
	color: #285bbb;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
    margin-bottom:0px;

}
#productdetails .rating{ color: #FFD200;
    font-size: 12px;
    padding:6px 0 10px;
    margin: 0;    
    position: relative;
   }
#productdetails .rating ul {
   margin: 0; padding: 0;
    list-style: none;
}

#productdetails .rating li { display: inline-block; list-style: none;}
#productdetails .rating li a { color: #FFD200}
#productdetails .price{position: absolute; right: 0; background:#0dc8e7; color:#fff; padding: 20px; margin: 10px;top: 0; font-size:30px;   }
#productdetails .price span{ font-size:15px; }
#productdetails .like {
    color: #f60a0a;
    background-color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 4px 8px;
    display: block;
    position: absolute;
    top: 20px;
    left:5%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
}
#productdetails h2 span{display: block; font-size:13px; color:#333; font-weight: ; }
#productdetails .carousel-indicators li {
    width: 200px;
    height: 100%;
    opacity: 0.8;
  }
#productdetails .carousel-indicators button.thumbnail{
  width: 100px;
    margin-top:10px; 
}
#productdetails .carousel-indicators button.thumbnail:not(.active){
  opacity: 0.8;
}

#productdetails .carousel-indicators {
    position: static;
    margin-left: 0;
    margin-right: 0;
}
#productdetails .carousel .carousel-inner{
   
    max-height: 70vh;
}
@media screen and (min-width: 992px) {
#productdetails .carousel {
    max-width:90%; 
    margin: 0 auto;
   
}
    
}
@media (max-width: 576px) {
#productdetails .carousel-indicators {
   
    display: block;
}
}


.wizard,
.wizard .nav-tabs,
.wizard .nav-tabs .nav-item {
	position: relative;
}
.wizard {
    padding: 30px;
}
.wizard .nav-tabs:after {
	content: "";
	width: 80%;
	border-bottom: solid 2px #1d2c8a;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 38%;
	z-index: -1;
}
.wizard .nav-tabs .nav-item .nav-link {
	width:80px;
	height:80px;
	margin-bottom:3%;
	 background: #1d2c8a;
    border: 2px solid #1d2c8a;
    color: #ffffff;
    font-size: 30px;
	z-index: 10;
}
.wizard .nav-tabs .nav-item .nav-link:hover {
	color: #fff;
	border: 2px solid #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.wizard .nav-tabs .nav-item .nav-link.active {
    background: #fc7803;
    border: 2px solid #fff;
    color: #ffffff;
    font-size: 30px;
}
.wizard .nav-tabs .nav-item .nav-link:after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	opacity: 0;
	margin: 0 auto;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom-color: #fc7803;
	transition: 0.1s ease-in-out;
}

.wizard .nav-tabs .nav-item .nav-link.active:after {
	content: " ";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	opacity: 1;
	margin: 0 auto;
	bottom: 0px;
	border: 10px solid transparent;
	border-bottom-color: #fc7803;
}
.wizard .nav-tabs .nav-item .nav-link svg {
	font-size: 25px;
}


/*----------multiple-file-upload-----------*/
.input-group.file-caption-main{
    display: none;
}
.close.fileinput-remove{
    display: none;
}
.file-drop-zone{
    margin: 0px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 0px;
    display: contents;
}
.file-drop-zone.clickable:hover{
    border-color: #fff;
}
.file-drop-zone .file-preview-thumbnails{
    display: inline;
}
.file-drop-zone-title{
    padding: 15px;
    height: 120px;
    width: 120px;
    font-size: 12px;
}
.file-input-ajax-new{
    display: inline-block;
}
.file-input.theme-fas{
    display: inline-block;
    width: 100%;
}
.file-preview{
    padding: 0px;
    border: none;
    display: inline;

}
.file-drop-zone-title{
    display: none;
}
.file-footer-caption{
    display: none !important;
}
.kv-file-upload{
    display: none;
}
.file-upload-indicator{
    display: none;
}
.file-drag-handle.drag-handle-init.text-info{
    display: none;
}


.krajee-default.file-preview-frame .kv-file-content{
    width: 100% !important;
    height:130px !important;
    display: flex;
    text-align: center;
    align-items: center;
}
.krajee-default.file-preview-frame{
    background-color: #fff;
    margin: 3px;
    border-radius: 15px;
    overflow: hidden;
}
.krajee-default.file-preview-frame:not(.file-preview-error):hover{
    box-shadow: none;
    border-color: #ed3237;
}
.krajee-default.file-preview-frame:not(.file-preview-error):hover .file-preview-image{
    transform: scale(1.1);
}
.krajee-default.file-preview-frame{
    box-shadow: none;
    border-color: #fff;
    max-width: 150px;
    margin: 5px;
    padding: 0px;
    transition: 0.5s;
}
.file-thumbnail-footer,
.file-actions{
    width: 20px;
    height: 20px !important;
    position: absolute !important;
    top: 3px;
    right: 3px;
}
.kv-file-remove:focus,
.kv-file-remove:active{
    outline: none !important;
    box-shadow: none !important;
}
.kv-file-remove{
    border-radius: 50%;
    z-index: 1;
    right: 0;
    position: absolute;
    top: 0;
    text-align: center;
    color: #fff;
    background-color: #ed3237;
    border: 1px solid #ed3237;
    padding: 2px 6px;
    font-size: 11px;
    transition: 0.5s;
}
.kv-file-remove:hover{
    border-color: #fdeff0;
    background-color: #fdeff0;
    color: #ed1924;
}
.kv-preview-data.file-preview-video{
    width: 100% !important;
    height: 100% !important;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus{
    box-shadow: none;
}
.btn-toggleheader,
.btn-fullscreen,
.btn-borderless{
    display: none;
}
.btn-kv.btn-close{
    color: #fff;
    border: none;
    background-color: #ed3237;
    font-size: 11px;
    width: 18px;
    height: 18px;
    text-align: center;
    padding: 0px;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-outline-secondary.dropdown-toggle:focus{
    background-color: rgba(255,255,255,0.8);
    color: #000;
    box-shadow: none;
    color: #ed3237;
}
.kv-file-content .file-preview-image{
   
    transition: 0.5s;
}
.krajee-default .btn-danger.btn-file{
   
    height: 95px;
    width: 95px;
    display: inline-block;
    margin: 5px;
    border-color: #fdeff0;
    background-color: #fdeff0;
    color: #ed1924;
    border-radius: 15px;
    padding-top: 30px;
       margin-bottom: 30px;
    transition: 0.5s;
    font-size:36px;
    font-weight: bold;
}
.krajee-default .btn-danger.btn-file:active,
.krajee-default .btn-danger.btn-file:hover{
    background-color: #fde3e5;
    color: #ed1924;
    border-color: #fdeff0;
    box-shadow: none;
       margin-bottom: 30px;
}



@media (max-width: 350px){
    .krajee-default.file-preview-frame:not([data-template=audio]) .kv-file-content{
        width: 90px;
    }
}


