RewriteEngine On
RewriteBase /DD_WEB/DozenDiamondsWebAndAdmin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /DD_WEB/DozenDiamondsWebAndAdmin/index.php/$1 [L]